HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# trying to add application.properties to gitignore simply does not work unless we get real complicated here
# ---
# maybe this works, we'll see
.properties
*.properties
application.properties
src\main\resources\application.properties
src/main/resources/application.properties
pom.xml
*.xml
.xml
C:\Users\chris\Desktop\project\pom.xml