/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  /* background-color: dimgray; */
}

/* ERROR MSG */
span {
  color: rgb(186, 31, 31);
}

/* --- HEADER --- */

.nav {
  text-align: center;
  margin-bottom: 40px;
}

.img-home {
  height: 50px;
  width: 50px;
}

.menu {
  display: inline-block;
}

.menu > li {
  float: left;
  width: 170px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(93, 203, 247);
  cursor: pointer;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.sub-menu {
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: rgba(40, 155, 231, 0.8);
  padding: 6px;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.sub-menu li:hover {
  background: rgb(245, 171, 52);
}

.menu > li:hover .sub-menu li {
  transform: scale(1);
}

.menu > li:hover .sub-menu {
  transform: scale(1);
}

.sub-menu > li > a:link {
  text-decoration: none;
  color: #000000;
}

/* --- FOOTER --- */

.footer {
  background-color: rgb(240, 248, 252);
  font-family: monospace;
  font-size: 16px;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0;
}

.footer img {
  max-height: fit-content;
  height: 20px;
}

/* --- INDEX --- */

.index-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 20%;
}

.index-banner_text {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  margin-left: 100px;
}

.index-left {
  height: 100%;
  margin-top: 10px;
  width: 50%;
}

.index-right {
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.index-right > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 200px;
  padding: 20px 20px;
  margin-bottom: 50px;
  margin-left: 25%;
  font-size: 18px;
  text-decoration: none;
  border: solid 2px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.index-right > a:visited {
  color: #000000;
}

.index-right > a:hover {
  background-color: rgb(114, 215, 255);
}

.index-right > p {
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  padding-right: 30px;
}

.btn-pat {
  background-color: rgb(93, 203, 247);
}

.btn-dr {
  background-color: rgb(245, 171, 52);
}

/* --- FORMS --- */
.form-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-width: 20%;
  margin: 10px 10px 0px 10px;
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 120vh;
}

.form-container button {
  height: 34px;
  width: 200px;
  margin-top: 20px;
  margin-left: 50%;
  font-size: 18px;
  text-decoration: none;
  border: solid 2px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(93, 203, 247);
}

.form-container td,
.form-container tr,
.form-container input,
.form-container select {
  padding: 4px;
  width: 200px;
}

.form-container h5 {
  padding-left: 8px;
}

.form-container h2 {
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  margin-left: 38px;
}

.register-right {
  margin-top: 10px;
  width: 50%;
}

.register-right > p {
  font-family: "Manrope", sans-serif;
  font-size: 28px;
  padding-right: 80px;
  margin-bottom: 40px;
}

.register-left {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
}
