<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
    <div th:replace="fragments :: header"></div>
    <div>
        <div>
            <h1>Health Tickets</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Patient ID</th>
                        <th>Symptoms</th>
                        <th>Diagnosis</th>
                        <th>Doctor ID</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="healthticket: ${listHealthtickets}">
                        <td th:text="${healthticket.ticketID}">Ticket ID</td>
                        <td th:text="${healthticket.patientID}"><a
                                th:href="@{'/doctor/view-patient/' + ${healthticket.patientID}}">Patient ID</a></td>
                        <td th:text="${healthticket.symptoms}">Symptoms</td>
                        <td th:text="${healthticket.diagnosis}">Diagnosis</td>
                        <td th:text="${healthticket.doctorID}">Doctor ID</td>
                        <td>
                            <a th:href="@{'/doctor/edit-ticket/' + ${healthticket.ticketID}}">Add a Diagnosis</a>
                            &nbsp;&nbsp;
                            <a th:href="@{'/doctor/delete-ticket/' + ${healthticket.ticketID}}">Remove Ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>

</html>