<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
    <div th:replace="fragments :: header"></div>
    <div>
        <div>
            <h2>Doctor Log In</h2>
        </div>
        <div th:if="${param.error}">
            <h4 style="color: red">Invalid ID or Password</h4>
        </div>
        <form th:action="@{/doctor/login}" th:object="${doctor}" method="POST">
            <div>
                <div>
                    <label>Doctor ID: </label>
                    <div>
                        <input type="text" name="doctorID" />
                    </div>
                </div>
                <div>
                    <label>Password: </label>
                    <div>
                        <input type="password" name="password" />
                    </div>
                </div>
                <button type="submit">Sign In</button>
            </div>
        </form>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>

</html>