<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
	<div th:replace="fragments :: header-logged-in-doctor"></div>
	<div class="viewTickets">
		<div>
			<h1>View Patient Info</h1>
			<table class="ticketTable" th:object="${patient}">
				<thead class="thead-dark">
					<tr>
						<th>Patient ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>E-mail</th>
						<th>Date of Birth</th>
						<th>Sex</th>
						<th>Medical Conditions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${patient.patientID}"></td>
						<td th:text="${patient.firstName}"></td>
						<td th:text="${patient.lastName}"></td>
						<td th:text="${patient.email}"></td>
						<td th:text="${patient.dob}"></td>
						<td th:text="${patient.sex}"></td>
						<td th:text="${patient.medicalConditions}"></td>
					</tr>
				</tbody>
			</table>
			<h4><a th:href="@{/doctor/viewTickets}">Back to Tickets</a></h4>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>
</body>

</html>