<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Clinic | Doctor Homepage</title>
</head>

<body>
    <div>
        <div>
            <form th:action="@{/doctor_homepage}" method="POST">
                <h3>
                    Welcome Dr. (firstname lastname)
                </h3>
                <br>
                <h3><a th:href="@{/doctor/viewTickets}">Consult Health Tickets</a></h3>
                <br>
                <h3><a th:href="@{/doctor_edit}">Manage Your Account </a></h3>
                <br>
                <br>
                <h3><a th:href="@{/logged_out}">Log Out</a></h3>
            </form>
        </div>

</body>

</html>