<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Dynamic titles, each view takes in a generic Model and adds pageTitle as an attribute, which is the passed here, thus appearing correctly depending on which page you are viewing -->
    <title>[[${pageTitle}]] | Clinic</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/images/favicon.ico}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">

    <meta name="keywords" content="clinic">
    <meta name="description" content="Programming III Project">
</head>

<body>
    <!-- HEADER-NAVBAR-->
    <div class="navbar-container" th:fragment="header">
        <nav class="nav">
            <a href="/" title="Return to Home"><img th:src="@{/images/home-button-img.jpg}" class="img-home"></a>
            <ul class="menu">
                <li>Register
                    <ul class="sub-menu">
                        <li><a href="/patient_register" title="Register as Patient">as Patient</a></li>
                        <li><a href="/doctor_register" title="Register as Doctor">as Doctor</a></li>
                    </ul>
                </li>
                <li>Log In
                    <ul class="sub-menu">
                        <li><a href="/patient/login" title="Log in as Patient">as Patient</a></li>
                        <li><a href="/doctor/login" title="Log in as Doctor">as Doctor</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- HEADER Logged in (patients) -->
    <div class="navbar-container" th:fragment="header-logged-in-patient">
        <nav class="nav">
            <a href="/patient/homepage" title="Return to Homepage"><img th:src="@{/images/home-button-img.jpg}"
                    class="img-home"></a>
            <ul class="menu">
                <li><a href="/patient/homepage" title="Return to Homepage">Welcome, [[${patient.firstName}]]</a></li>
                <li>Need a Doctor?
                    <ul class="sub-menu">
                        <li><a href="/patient/addTicket" title="">Submit a New Ticket</a></li>
                        <li><a href="/patient/viewTickets" title="">View All Tickets</a></li>
                    </ul>
                </li>
                <li>My Account
                    <ul class="sub-menu">
                        <li><a th:href="@{'/patient/edit/' + ${patient.patientID}}" title="View Account Info">Account
                                Information</a></li>
                    </ul>
                </li>
                <li><a href="/patient/logout" title="Log Out">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- HEADER Logged in (doctors) -->
    <div class="navbar-container" th:fragment="header-logged-in-doctor">
        <nav class="nav">
            <a href="/doctor/homepage" title="Return to Homepage"><img th:src="@{/images/home-button-img.jpg}"
                    class="img-home"></a>
            <ul class="menu">
                <li><a href="/doctor/homepage" title="Return to Homepage">Welcome, Dr.[[${doctor.lastName}]]</a>
                </li>
                <li>Health Tickets
                    <ul class="sub-menu">
                        <li><a href="/doctor/viewTickets" title="View Active Tickets">View Active Tickets</a></li>
                    </ul>
                    <ul class="sub-menu">
                        <li><a href="/doctor/viewResolvedTickets" title="View Resolved Tickets">View Resolved
                                Tickets</a></li>
                    </ul>
                </li>
                <li>My Account
                    <ul class="sub-menu">
                        <li><a th:href="@{'/doctor/edit/' + ${doctor.doctorID}}" title="View Account Info">Account
                                Information</a></li>
                    </ul>
                </li>
                <li><a href="/doctor/logout" title="Log Out">Log Out</a></li>
            </ul>
        </nav>
    </div>


    <!-- FOOTER -->
    <div class="footer" th:fragment="footer">
        <p>Made by THE REGEX ©2022 <a href="https://github.com/ChristopherPerrault/Clinic"
                title="View Clinic on GitHub"><img th:src="@{/images/GitHub-Mark-32px.png}"></a>
        </p>
    </div>
</body>