<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
    <div th:replace="fragments :: header"></div>
    <div>
        <h3>Welcome</h3>
        <a href="/patient_register">Register as Patient</a>
        <br /><br />
        <a href="/doctor_register">Register as Doctor</a>
        <br /><br />
        <a href="/patient/login">Log in as a Patient</a>
        <br /><br />
        <a href="/doctor/login">Log in as a Doctor</a>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>

</html>