<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Clinic | Home</title>
</head>

<body>
    <div>
        <h3>Welcome</h3>
        <a href="/patient_register">Register as Patient</a>
        <br /><br />
        <a href="/doctor_register">Register as Doctor</a>
        <br /><br />
        <a href="/patient/login">Log in as a Patient</a>
        <br /><br />
        <a href="/doctor/login">Log in as a Doctor</a>
    </div>
</body>

</html>