<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Clinic | Edit Patient</title>
</head>

<body>
    <div>
        <h2>Edit Your Patient Account</h2>
        <br />
        <form action="#" th:action="@{/process_patient_edit}" th:object="${patient}" method="POST">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}" /></td>
                </tr>
                <tr>
                    <td>Enter a new Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td><input type="date" th:field="*{dob}" /></td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td><input type="radio" th:field="*{sex}" value="Male" />Male</td>
                    <td><input type="radio" th:field="*{sex}" value="Female" />Female</td>
                    <td><input type="radio" th:field="*{sex}" value="Unspecified" />Prefer not to say</td>
                    <td><span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Please select one</span></td>
                </tr>
                <tr>
                    <!-- for now it's a type text but I'll change this to textarea once figured out, seems to be an issue in thymeleaf -->
                    <td>Pre-Existing Medical Conditions:</td>
                    <td><input type="text" th:field="*{medicalConditions}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Update</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>