<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Clinic | Health Tickets</title>
</head>

<body>
    <div>
        <div>
            <h1>Health Tickets</h1>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Ticket ID</th>
                        <th>Patient ID</th>
                        <th>Symptoms</th>
                        <th>Diagnosis</th>
                        <th>Doctor ID</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="healthTicket: ${healthTicketList}">
                        <td th:text="${healthTicket.ticketID}">Ticket ID</td>
                        <td th:text="${healthTicket.patientID}">Patient ID</td>
                        <td th:text="${healthTicket.symptoms}">Symptoms</td>
                        <td th:text="${healthTicket.diagnosis}">Diagnosis</td>
                        <td th:text="${healthTicket.doctorID}">Doctor ID</td>
                        <td th:if="${healthTicket.diagnosis == null}">
                            <a th:href="@{'/patient/edit-ticket/' + ${healthTicket.ticketID}}">Edit Symptoms</a>
                            &nbsp;&nbsp;
                            <a th:href="@{'/patient/delete-ticket/' + ${healthTicket.ticketID}}">Cancel Ticket</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>