<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
    <div th:replace="fragments :: header-logged-in-patient"></div>
    <div>
        <h2>Health Ticket Creation Form</h2>
        <br />
        <form action="#" th:action="@{/patient/processTicket}" th:object="${healthTicket}" method="POST">
            <table>
                <tr>
                    <td>Symptoms:</td>
                    <td><input type="text" th:field="*{symptoms}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Create Ticket</button> </td>
                </tr>
            </table>
            <h4><a th:href="@{/patient/homepage}">Back to Home</a></h4>
        </form>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>

</html>