<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head">

<body>
	<div th:replace="fragments :: header-logged-in-patient"></div>
	<div class="viewTickets">
		<div>
			<h1>View Doctor Info</h1>
			<table class="ticketTable" th:object="${doctor}">
				<thead class="thead-dark">
					<tr>
						<th>Doctor ID</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>E-mail</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${doctor.doctorID}"></td>
						<td th:text="${doctor.firstName}"></td>
						<td th:text="${doctor.lastName}"></td>
						<td th:text="${doctor.email}"></td>
					</tr>
				</tbody>
			</table>
			<h4><a th:href="@{/patient/viewTickets}">Back to Tickets</a></h4>
		</div>
	</div>

	<div th:replace="fragments :: footer"></div>
</body>

</html>