<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Clinic | Patient Homepage</title>
</head>

<body>
    <div>
        <div>
            <form th:action="@{/patient_homepage}" th:object="${patient}" method="POST">
                <h3>
                    Welcome (firstname lastname)
                </h3>
                <h2>What can we help you with today?</h2>
                <br>

                <h3><a th:href="@{/patient_add_ticket}">Consult a Doctor</a></h3>
                <br>
                <h3><a th:href="@{/patient_view_tickets}">View Your Health Tickets</a></h3>
                <br>
                <h3><a th:href="@{'/patient_edit/' + ${patient.patientID}}">Manage Your Account </a></h3>
                <br>
                <br>
                <h3><a th:href="@{/logged_out}">Log Out</a></h3>
            </form>
        </div>

</body>

</html>